body {
  padding-top: 50px;
}
.content {
  padding: 40px 15px;
}
.sortable {
	list-style: none;
}
.sortable.inline li {
	display: inline-block;
}
.sortable li {
	margin: 1ex;
	padding: 1px;
	float: left;
	text-align: center;
}
.sortable li img {
	/* important: fix the height of the tile images to prevent empty blocks */
	height: 200px;
}
.sortable li .btn-rm {
	position:relative;
	bottom:1.7em;
	background:rgba(255,255,255,0.6);
	border:none;
}

.dropzone {
	font-size: 2em;
	font-family: 'Slabo', 'Fjalla One', cursive;
	background: url('../img/bg/ps_neutral.png');
	margin-left:auto;
	margin-right:auto;
}